body {
    background-color: #e6ecf0;
    overflow-x: hidden;
}

.pointer{ 
    cursor: pointer;
}

.tab-bar {
    background: #1da1f2;
}

.tab-bar a {
    color: #fff;
}

.spacer {
    flex: 1 1 auto;
}

.tab-bar > .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #1a90d8  !important;
    border-color: #1da1f2 #178bd2 #dee2e6 !important;
}

.tab-bar > .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #1da1f2 #1da1f2 #dee2e6 !important;
    color: #fffca3 !important;
}

.trash {
    border-radius: 50% !important;
    width: 35px;
    height: 35px;
}

.table-min.table td, .table th {
    padding: .2rem;
}

.table-min tbody tr td:last-child {
    width: 30px;
}

.form-group {
    margin-bottom: 0  !important;
}

#user_list ul {
    list-style: none !important;
    height: 50px;
    padding: 0;
    margin: 0;
    display: inline;
}

#user_list ul li {
    float: left;
    margin-left: -15px;
}

#user_list ul li img {
    width: 35px;
    border-radius: 50px;
    cursor: pointer;
}

.card-header{ 
    display: inline-block;
    width: 100%;
}
.btn-min {
    width: 30px;
    height: 30px;
    padding: 3px !important;
    margin-top: 2px;
}
.card-header {
    padding: 5px !important;
}

.tab-sections {
    border-bottom: 0px solid transparent !important;
}

.grad1 {
    background: linear-gradient(#f5f9ff, #daddff);
}

.grad2 {
    background: linear-gradient(#e3ffe1, #9ae69c)
}
